<p id="notice"><%= notice %></p>

<h1>Searchterms</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Search term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searchterms.each do |searchterm| %>
      <tr>
        <td><%= searchterm.user_id %></td>
        <td><%= searchterm.search_term %></td>
        <td><%= link_to 'Show', searchterm %></td>
        <td><%= link_to 'Edit', edit_searchterm_path(searchterm) %></td>
        <td><%= link_to 'Destroy', searchterm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Searchterm', new_searchterm_path %>
