<p id="notice"><%= notice %></p>

<p>
  <strong>Imageurl:</strong>
  <%= @competitor.imageurl %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @competitor.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @competitor.longitude %>
</p>

<p>
  <strong>Price:</strong>
  <%= @competitor.price %>
</p>

<p>
  <strong>Source:</strong>
  <%= @competitor.source %>
</p>

<p>
  <strong>Title:</strong>
  <%= @competitor.title %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @competitor.update_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @competitor.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @competitor.user_id %>
</p>

<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
<%= link_to 'Back', competitors_path %>
