<%= form_with(model: nexttimeslot, local: true) do |form| %>
  <% if nexttimeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nexttimeslot.errors.count, "error") %> prohibited this nexttimeslot from being saved:</h2>

      <ul>
      <% nexttimeslot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.number_field :store_id %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
